/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-dark-blue: #4b7088;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --basic-margin: 8px;
    --border-radious: 5px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: calc((var(--basic-margin) * 2)) 0;
}

h2 {
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: var(--basic-margin) 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: var(--basic-margin) 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: calc((var(--basic-margin)) / 2) 0;
}

/* navbar */

#navbar {
    background-color: var(--color-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: var(--color-white);
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__logo img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    margin-right: var(--basic-margin);
    font-weight: var(--weight-semi-bold);
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: var(--border-radious);
    cursor: pointer;
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-blue);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}
